{% extends 'base.html' %}

{% block 'conteudo' %}
    <div class="container" >
        <br>
        <form action="#" method="POST">
            {% csrf_token %}
            <p>
                <label for="">Nome do Livro: </label>
                <input type="text" class="form-control" value="{{ livro.nome }}">
            </p>

            <p>
                <label for="">Nome do Autor: </label>
                <input  style="width: 40%;" type="text" class="form-control" value="{{ livro.autor }}">
            </p>

            <p>
                <label for="">Nome do Co_Autor: </label>
                <input  style="width: 40%;" type="text" class="form-control" value="{% if livro.co_autor %} {{ livro.co_autor }} {% endif %}">
            </p>

            <p>
                <label for="">Data: </label>
                <input  style="width: 20%;" type="text" class="form-control" value="{{ livro.data_cadastro }}">
            </p>

            <label for="">Categoria</label>
            <select name="categoria" class="form-control" style="width: 40%;">
                {% for categoria in  categoria_livro %}
                {% if livro.categoria.nome == categoria.nome %}
                    <option selected >{{ categoria }}</option>
                {% else %}
                    <option>{{ categoria }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <br>
            <br>
            <label for="">Emprestado: &nbsp; &nbsp;</label>
            {% if livro.emprestado %}
                <input checked type="checkbox" name="emprestado" style="transform: scale(2.0);">
            {% else %}
                <input type="checkbox" name="emprestado" style="transform: scale(2.0);">      
            {% endif %}
            <br>
            <br>
            <input type="submit" class="btn btn-success btn-lg" value="Salvar">
        </form>

        <hr>
        <h1>Histórico de Empréstimo </h1>

        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Data Empréstimo</th>
                <th scope="col">Data Devolução</th>
                <th scope="col">Tempo de Duração</th>
              </tr>
            </thead>
            <tbody>
            {% for emprestimo in emprestimos%}
                <tr>
                    {% if emprestimo.nome_emprestado_anonimo == None %}
                        <th scope="row">{{ emprestimo.nome_emprestado }}</th>
                    {% else %}
                        <th scope="row">{{ emprestimo.nome_emprestado_anonimo }}</th>
                    {% endif %}
                    <td>{{ emprestimo.data_emprestimo }}</td>
                    <td>{{ emprestimo.data_devolucao }}</td>
                    <td>{{ emprestimo }}</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock %}